body {
    background-color: gray;
}

* {
    color: rgb(20, 20, 20);
    font-family: 'Roboto'
}

.buttonbox * {
    color: rgb(230, 230, 230);
}

.buttonbox a {
    background-color: rgb(50, 50, 50);
    display: block;
    padding: 5pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-decoration: none;
    border-radius: 5pt;
    border: 5pt;
    border-color: rgb(50, 50, 50);
}

.buttonbox b {
    margin-bottom: 1pt;
}

.buttonbox a:hover {
    background-color: rgb(70, 70, 70);
}

.lr {
    display: flex;
    justify-content: space-between;
}

.lr a {
    width: 45%;
    text-align: center;
}

.vcenter {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.outer {
    background-color: rgb(230, 230, 230);
    padding: 2em;
    border-radius: 2em;
    border: 2em;
    border-color: rgb(230, 230, 230);
}

#container {
    /* margin: auto; */
    /* width: 400px; */
    /* height: 75vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#vert-container {
    /* margin: auto; */
    /* width: 700px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#regression_task {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: 'Poppins';
}

canvas {
    margin: auto;
    display: inline-block;
}

.buttonbox a.selected {
    background-color: white;
    color: black;
    border-color: white;
}

.buttonbox a.selected b {
    background-color: white;
    color: black;
    border-color: white;
}

.highlight {
    background-color: #5f5fdf;
    border: 0.3em solid #5f5fdf;
    border-radius: 0.6em;
    color: white;
}