body {
    background-color: gray;
}

* {
    color: rgb(230, 230, 230);
    font-family: 'Roboto'
}

.buttonbox a {
    background-color: rgb(50, 50, 50);
    display: block;
    padding: 5pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-decoration: none;
    border-radius: 5pt;
    border: 5pt;
    border-color: rgb(50, 50, 50);
}

.buttonbox b {
    margin-bottom: 1pt;
}

.buttonbox a:hover {
    background-color: rgb(70, 70, 70);
}

.lr {
    display: flex;
    justify-content: space-between;
}

.lr a {
    width: 45%;
    text-align: center;
}

.vcenter {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#container {
    /* margin: auto; */
    /* width: 400px; */
    /* height: 75vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#wide-container {
    margin: auto;
    width: 700px;
}

#regression_task {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: 'Poppins';
}

canvas {
    margin: auto;
    display: inline-block;
}